In [1]:
import pandas as pd

#converting chronic absentee data from txt files to csv
#from 2022 on, DASS column was added so remove for consistency 

df1 = pd.read_csv("chronicabsenteeism23.txt", delimiter= '\t', low_memory=False, on_bad_lines='skip', encoding = 'unicode_escape')
df1 = df1.drop("DASS", axis='columns')
#Only want school based data
df1 = df1[df1['Aggregate Level'] == "S"]
#drop unused columns to make data scrollable
df1 = df1.drop(['Aggregate Level', 'County Code', 'District Code', 'School Code', 'County Name', 'Charter School'], axis = 1)
#remove student privacy null data
df1 = df1[df1['ChronicAbsenteeismCount'] != '*']
df1.to_csv('chronicabsenteeism23.csv', index = None)

df2 = pd.read_csv("chronicabsenteeism22-v3.txt", delimiter= '\t', low_memory=False, on_bad_lines='skip', encoding = 'unicode_escape')
df2 = df2.drop("DASS", axis='columns')
df2 = df2[df2['Aggregate Level'] == "S"]
df2 = df2.drop(['Aggregate Level', 'County Code', 'District Code', 'School Code', 'County Name', 'Charter School'], axis = 1)
df1 = df1[df1['ChronicAbsenteeismCount'] != '*']
df2.to_csv('chronicabsenteeism22.csv', index = None)

df3 = pd.read_csv("chronicabsenteeism21.txt", delimiter= '\t', low_memory=False, on_bad_lines='skip', encoding = 'unicode_escape')
df3 = df3[df3['Aggregate Level'] == "S"]
df3 = df3.drop(['Aggregate Level', 'County Code', 'District Code', 'School Code', 'County Name', 'Charter School'], axis = 1)
df3 = df3.rename(columns={"ChronicAbsenteeismEligibleCumula":"ChronicAbsenteeismEligibleCumulativeEnrollment"})
df3 = df3[df3['ChronicAbsenteeismRate'].notnull()]
df3.to_csv('chronicabsenteeism21.csv', index = None)

df4 = pd.read_csv("chronicabsenteeism19.txt", delimiter= '\t', low_memory=False, on_bad_lines='skip', encoding = 'unicode_escape')
df4 = df4[df4['AggregateLevel'] == "S"]
df4 = df4.drop(['AggregateLevel', 'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName', 'CharterYN'], axis = 1)
df4 = df4.rename(columns={"AcademicYear":"Academic Year", "DistrictName":"District Name", "SchoolName":"School Name", "ReportingCategory":"Reporting Category", "ChronicAbsenteeismEligibleCumula":"ChronicAbsenteeismEligibleCumulativeEnrollment"})
df4 = df4[df4['ChronicAbsenteeismRate'].notnull()]
df4.to_csv('chronicabsenteeism19.csv', index = None)

df5 = pd.read_csv("chronicabsenteeism18.txt", delimiter= '\t', low_memory=False, on_bad_lines='skip', encoding = 'unicode_escape')
df5 = df5[df5['AggregateLevel'] == "S"]
df5 = df5.drop(['AggregateLevel', 'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName', 'CharterYN'], axis = 1)
df5 = df5.rename(columns={"AcademicYear":"Academic Year", "DistrictName":"District Name", "SchoolName":"School Name", "ReportingCategory":"Reporting Category", "ChronicAbsenteeismEligibleCumula":"ChronicAbsenteeismEligibleCumulativeEnrollment"})
df5 = df5[df5['ChronicAbsenteeismRate'].notnull()]
df5.to_csv('chronicabsenteeism18.csv', index = None)

df6 = pd.read_csv("chronicabsenteeism17.txt", delimiter= '\t', low_memory=False, on_bad_lines='skip', encoding = 'unicode_escape')
df6 = df6[df6['AggregateLevel'] == "S"]
df6 = df6.drop(['AggregateLevel', 'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName', 'CharterYN'], axis = 1)
df6 = df6.rename(columns={"AcademicYear":"Academic Year", "DistrictName":"District Name", "SchoolName":"School Name", "ReportingCategory":"Reporting Category", "ChronicAbsenteeismEligibleCumula":"ChronicAbsenteeismEligibleCumulativeEnrollment"})
df6 = df6[df6['ChronicAbsenteeismRate'].notnull()]
df6.to_csv('chronicabsenteeism17.csv', index = None)

In [35]:
#Concatenate all Chronic Absentee data
dfAbsentee = pd.concat([df1,df2,df3,df4,df5,df6], ignore_index = True, sort = False)
dfAbsentee.to_csv('allChronicAbsentee.csv', index = None)

In [2]:
df7 = pd.read_excel("graduates2223.xlsx", sheet_name= "One-Year Graduate (N)")
#Only want school based data
df7 = df7[df7['Unnamed: 1'] == "S"]
df7 = df7.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis = 1)
df7 = df7.rename(columns={"One-Year Graduate Counts":"Academic Year", "Unnamed: 6":"District Name", "Unnamed: 7":"School Name", "Unnamed: 8":"Reporting Category", "Unnamed: 9":"Graduate count"})
df7.to_csv('graduates23.csv', index = None)

In [ ]:
#Merging Absentee23 with Graduation23

ab23_gr23_merged = ["Academic Year", "School Name", "Reporting Category", "Enrollment", "Absentee Count", "Absentee Rate", "Graduate Count"]

for x in df1.iterrows():
    for y in df7.iterrows():
        if (x['School Name'] == y['School Name'] and x['Reporting Category'] == y['Reporting Category']):
            merge_line = [x['Academic Year'], x['School Name'], x['Reporting Category'], x['ChronicAbsenteeismEligibleCumulativeEnrollment'], x['ChronicAbsenteeismCount'], x['ChronicAbsenteeismRate'], y['Graduate count']]
            ab23_gr23_merged.append(merge_line)
            continue

In [ ]:
print(ab23_gr23_merged)

In [3]:
unique_RC1 = df1['Reporting Category'].unique()
unique_RC2 = df7['Reporting Category'].unique()

print(unique_RC1)
print(unique_RC2)

['GF' 'GM' 'GR46' 'GR78' 'GR912' 'GRK8' 'RB' 'RH' 'RT' 'RW' 'SD' 'SE' 'SS'
 'TA' 'GR13' 'GRKN' 'RA' 'RD' 'RF' 'SF' 'SH' 'RP' 'GX' 'SM' 'RI']
['GF' 'GM' 'RA' 'RB' 'RH' 'RT' 'RW' 'SD' 'SE' 'SF' 'SH' 'SS' 'TA' 'RF'
 'RI' 'RD' 'GX' 'RP' 'SM']

In [9]:
unique_schools1 = df1['School Name'].unique().tolist()
unique_schools2 = df7['School Name'].unique().tolist()

print(unique_schools1[:499])

['Envision Academy for Arts & Technology', 'Community School for Creative Education', 'Yu Ming Charter', 'Urban Montessori Charter', 'Alameda County Juvenile Hall/Court', 'Alameda County Community', 'Alternatives in Action', 'Oakland Unity Middle', 'Connecting Waters Charter - East Bay', 'Opportunity Academy', 'Aurum Preparatory Academy', 'Hayward Collegiate Charter', 'Cox Academy', 'Lazear Charter Academy', 'California School for the Blind', 'California School for the Deaf-Fremont', 'Alameda Science and Technology Institute', 'Ruby Bridges Elementary', 'Nea Community Learning Center', 'The Academy of Alameda', 'Alameda High', 'Alameda Community Learning Center', 'Encinal Junior/Senior High', 'Island High (Continuation)', 'Maya Lin', 'Edison Elementary', 'Frank Otis Elementary', 'Franklin Elementary', 'Love Elementary', 'Lincoln Middle', 'Will C. Wood Middle', 'William G. Paden Elementary', 'Amelia Earhart Elementary', 'Bay Farm', 'MacGregor High (Continuation)', 'Albany High', 'Cornell Elementary', 'Albany Middle', 'Marin Elementary', 'Ocean View Elementary', 'Berkeley High', 'Berkeley Technology Academy', 'Berkeley Independent Study K-8', 'Martin Luther King Middle', 'Willard Middle', 'Rosa Parks Environmental Science', 'Cragmont Elementary', 'Emerson Elementary', 'Ruth Acty Elementary', 'Sylvia Mendez Elementary', 'Malcolm X Elementary', 'Longfellow Arts and Technology Middle', 'Oxford Elementary at West Campus', 'Thousand Oaks Elementary', 'Washington Elementary', 'Berkeley Arts Magnet at Whittier', 'John Muir Elementary', 'Roy A. Johnson High', 'Castro Valley High', 'Castro Valley Virtual Academy', 'Redwood Continuation High', 'Castro Valley Elementary', 'Chabot Elementary', 'Creekside Middle', 'Independent Elementary', 'Marshall Elementary', 'Palomares Elementary', 'Proctor Elementary', 'Stanton Elementary', 'Vannoy Elementary', 'Canyon Middle', 'Jensen Ranch Elementary', 'Emery Secondary', 'Anna Yates Elementary', 'Young Adult Program', 'American High', 'Robertson High (Continuation)', 'Vista Alternative', 'Circle of Independent Learning', 'Irvington High', 'John F. Kennedy High', 'Mission San Jose High', 'Washington High', 'Lila Bringhurst Elementary', 'John Blacow Elementary', 'Brier Elementary', 'Cabrillo Elementary', 'E. M. Grimmer Elementary', 'Glenmoor Elementary', 'Harvey Green Elementary', 'J. Haley Durham Elementary', 'James Leitch Elementary', 'Joseph Azevada Elementary', 'Tom Maloney Elementary', 'John G. Mattos Elementary', 'Mission Valley Elementary', 'Niles Elementary', 'O. N. Hirsch Elementary', 'Parkmont Elementary', 'Patterson Elementary', 'Vallejo Mill Elementary', 'Warm Springs Elementary', 'Centerville Junior High', 'G. M. Walters Middle', 'John M. Horner Middle', 'Thornton Junior High', 'William Hopkins Junior High', 'John Gomes Elementary', 'Brookvale Elementary', 'Warwick Elementary', 'Joshua Chadbourne Elementary', 'Mission San Jose Elementary', 'Oliveira Elementary', 'Steven Millard Elementary', 'Ardenwood Elementary', 'Fred E. Weibel Elementary', 'Forest Park Elementary', 'District Office', 'Leadership Public Schools - Hayward', 'Stonebrae Elementary', 'Knowledge Enlightens You (KEY) Academy', 'Hayward Twin Oaks Montessori', 'Brenkwitz High', 'Hayward High', 'Mt. Eden High', 'Impact Academy of Arts & Technology', 'Tennyson High', 'Burbank Elementary', 'Cherryland Elementary', 'East Avenue Elementary', 'Eldridge Elementary', 'Fairview Elementary', 'Glassbrook Elementary', 'Harder Elementary', 'Longwood Elementary', 'Lorin A. Eden Elementary', 'Palma Ceia Elementary', 'Park Elementary', 'Ruus Elementary', 'Schafer Park Elementary', 'Southgate Elementary', 'Treeview Elementary', 'Bret Harte Middle', 'Cesar Chavez Middle', 'Anthony W. Ochoa Middle', 'Winton Middle', 'Martin Luther King, Jr. Middle', 'Eden Gardens Elementary', 'Tyrrell Elementary', 'Faith Ringgold School of Arts and Science', 'Vineyard Alternative', 'Del Valle Continuation High', 'Granada High', 'Livermore High', 'Lawrence Elementary', 'Junction K-8', 'East Avenue Middle', 'Emma C. Smith Elementary', 'Jackson Avenue Elementary', 'Joe Michell', 'Marylin Avenue Elementary', 'William Mendenhall Middle', 'Arroyo Seco Elementary', 'Andrew N. Christensen Middle', 'Rancho Las Positas Elementary', 'Sunset Elementary', 'Leo R. Croce Elementary', 'Altamont Creek Elementary', 'Mountain House Elementary', 'Newark Memorial High', 'Crossroads High (Alternative)', 'Bridgepoint High', 'August Schilling Elementary', 'Coyote Hills Elementary', 'Birch Grove Primary', 'John F. Kennedy Elementary', 'Lincoln Elementary', 'Birch Grove Intermediate', 'Newark Junior High', 'Core Learning Academy at Conley-Caraballo High', 'Alternative Learning Academy at Conley-Caraballo High', 'Decoto School for Independent Study', 'James Logan High', 'Alvarado Elementary', 'Hillview Crest Elementary', 'Searles Elementary', 'Itliong-Vera Cruz', 'Pioneer Elementary', 'Tom Kitayama Elementary', 'Guy Jr. Emanuele Elementary', 'Delaine Eastin Elementary', 'Oakland Unity High', 'MetWest High', 'Think College Now Elementary', 'EnCompass Academy Elementary', 'Bay Area Technology', 'Lighthouse Community Charter High', 'Aspire Berkley Maynard Academy', 'McClymonds High', 'Reach Academy Elementary', 'Manzanita SEED Elementary', 'Sankofa United Elementary', 'Achieve Academy', 'AIMS College Prep High', 'United for Success Academy Middle', 'Elmhurst United Middle', 'Coliseum College Prep Academy', 'Fred T. Korematsu Discovery Academy Elementary', 'AIMS College Prep Elementary', 'Oakland Charter High', 'KIPP Bridge Academy', 'Lockwood STEAM Academy Elementary', 'ARISE High', 'Global Family Elementary', 'Learning Without Limits', 'East Oakland Pride Elementary', 'Greenleaf', 'West Oakland Middle', 'Oakland International High', 'Aspire Golden State College Preparatory Academy', 'Ralph J. Bunche Continuation High', 'Castlemont High', 'Fremont High', 'LPS Oakland R & D Campus', 'Aspire College Academy', 'Downtown Charter Academy', 'East Bay Innovation Academy', 'Rudsdale Continuation High', 'Street Academy Alternative High', 'LIFE Academy', 'Oakland Military Institute, College Preparatory Academy', 'Lighthouse Community Charter', 'Aspire Lionel Wilson College Preparatory Academy', 'Aspire Triumph Technology Academy', 'Francophone Charter School of Oakland', 'Dewey Academy High', 'Lodestar: A Lighthouse Community Charter Public', 'Oakland High', 'Oakland Technical High', 'Skyline High', 'Kaiser Early Childhood Center', 'Oakland School for the Arts', 'Allendale Elementary', 'Bella Vista Elementary', 'Brookfield Elementary', 'Burckhalter Elementary', 'Carl B. Munck Elementary', 'Oakland Academy of Knowledge Elementary', 'Cleveland Elementary', 'Crocker Highlands Elementary', 'Fruitvale Elementary', 'Garfield Elementary', 'Glenview Elementary', 'Grass Valley Elementary', 'New Highland Academy Elementary', 'Hillcrest', 'Horace Mann Elementary', 'Joaquin Miller Elementary', 'Laurel Elementary', 'Manzanita Community Elementary', 'Markham Elementary', 'Bridges @ Melrose Academy Elementary', 'Montclair Elementary', 'Peralta Elementary', 'Piedmont Avenue Elementary', 'Prescott Elementary', 'Redwood Heights Elementary', 'Sequoia Elementary', 'Madison Park Academy Elementary', 'Esperanza Elementary', 'Thornhill Elementary', 'ACORN Woodland Elementary', 'Claremont Middle', 'Frick United Academy of Language Middle', 'Hoover Elementary', 'Edna Brewer Middle', 'Montera Middle', 'Roosevelt Middle', 'Westlake Middle', 'Madison Park Academy 6-12', 'Martin Luther King, Jr. Elementary', 'La Escuelita', 'Oakland Charter Academy', 'AIMS College Prep Middle', 'Independent Study, Sojourner Truth', 'Aspire Monarch Academy', 'North Oakland Community Charter', 'ASCEND', 'International Community Elementary', 'Melrose Leadership Academy', 'Urban Promise Academy Middle', 'Millennium High Alternative', 'Piedmont High', 'Beach Elementary', 'Havens Elementary', 'Wildwood Elementary', 'Piedmont Middle', 'Lincoln High (Continuation)', 'San Leandro High', 'San Leandro Virtual Academy', 'Jefferson Elementary', 'Madison Elementary', 'McKinley Elementary', 'Monroe Elementary', 'Roosevelt Elementary', 'Halkin Elementary', 'Bancroft Middle', 'John Muir Middle', 'KIPP Summit Academy', 'East Bay Arts High', 'KIPP King Collegiate High', 'Arroyo High', 'Royal Sunset (Continuation)', 'San Lorenzo High', 'Bay Elementary', 'Bohannon Middle', 'Colonial Acres Elementary', 'Corvallis Elementary', 'Dayton Elementary', 'Del Rey Elementary', 'Edendale Middle', 'Grant Elementary', 'Hesperian Elementary', 'Hillside Elementary', 'Lorenzo Manor Elementary', 'Washington Manor Middle', 'John Green Elementary', 'Harold William Kolb', 'Eleanor Murray Fallon', 'J. M. Amador Elementary', 'Dublin High', 'Cottonwood Creek', 'Dublin Unified Transition Program', 'Valley High (Continuation)', 'York Alternative Learning Center', 'Dublin Elementary', 'Frederiksen Elementary', 'Murray Elementary', 'Wells Middle', 'James Dougherty Elementary', 'Foothill High', 'Village High', 'Amador Valley High', 'The Pleasanton Virtual Academy', 'Donlon Elementary', 'Lydiksen Elementary', 'Alisal Elementary', 'Fairlands Elementary', 'Valley View Elementary', 'Walnut Grove Elementary', 'Harvest Park Middle', 'Vintage Hills Elementary', 'Pleasanton Middle', 'Henry P. Mohr Elementary', 'Thomas S. Hart Middle', 'Phoebe Apperson Hearst Elementary', 'Sunol Glen Elementary', 'Latitude 37.8 High', 'Diamond Valley Elementary', 'County Community', 'Independence High (Continuation)', 'North Star Academy', 'Amador High', 'Argonaut High', 'Ione Elementary', 'Jackson Elementary', 'Pine Grove Elementary STEM Magnet', 'Pioneer Magnet School for the Visual and Performing Arts', 'Plymouth Elementary', 'Sutter Creek Elementary', 'Jackson Junior High', 'Ione Junior High', 'CORE Butte Charter', 'Butte County Community', 'Come Back Butte Charter', 'BASES Learning Center', 'Table Mountain', 'Hearthstone', 'Butte County Special Education', 'Bangor Union Elementary', 'Biggs High', 'Biggs Elementary', 'Richvale Elementary', 'Nord Country', 'Academy for Change', 'Forest Ranch Charter', 'Inspire School of Arts and Sciences', 'Sherwood Montessori', 'Wildflower Open Classroom', 'Center for Alternative Learning', 'Pivot Charter School North Valley II', 'Oak Bridge Academy', 'Achieve Charter School of Chico', 'Oakdale', 'Fair View High (Continuation)', 'Chico High', 'Pleasant Valley High', 'Chapman Elementary', 'Citrus Avenue Elementary', 'Hooker Oak Elementary', 'McManus (John A.) Elementary', 'Marigold Elementary', 'Neal Dow Elementary', 'Parkview Elementary', 'Rosedale Elementary', 'Shasta Elementary', 'Sierra View Elementary', 'Bidwell Junior High', 'Chico Junior High', 'Little Chico Creek Elementary', 'Emma Wilson Elementary', 'Chico Country Day', 'Marsh (Harry M.) Junior High', 'Blue Oak Charter', 'Durham High', 'Durham Elementary', 'Durham Intermediate', 'Concow Elementary', 'Manzanita Elementary', 'Ishi Hills Middle', 'Ipakanni Early College Charter', 'STREAM Charter', 'The Studios @ Central', 'Oakdale Heights Elementary', 'Ophir Elementary', 'Stanford Avenue Elementary', 'Wyandotte Academy', 'Oroville High Community Day', 'Las Plumas High', 'Oroville High', 'Prospect High (Continuation)', 'Golden Hills Elementary', 'Helen M. Wilcox Elementary', 'Palermo', 'Honcut', 'Palermo Union Community Day (K-8)', 'Achieve Charter School of Paradise Inc.', 'Paradise eLearning Academy', 'Paradise Ridge Elementary', 'Ridgeview High (Continuation)', 'Paradise Senior High', 'Paradise Junior High', 'Pine Ridge', 'HomeTech Charter', 'Paradise Charter Middle', 'Cedarwood Elementary', "Children's Community Charter", 'Plumas Avenue Elementary', 'Siskiyou Avenue Elementary', 'Nelson Avenue Middle', 'Poplar Avenue Elementary', 'Sierra Avenue Elementary', 'Heritage Community Day', 'Berry Creek Elementary', 'Esperanza High (Continuation)', 'Gridley High', 'Sycamore Middle', 'Wilson Elementary', 'Calaveras River Academy', 'Mountain Oaks', 'Calaveras County Special Education (SELPA)', 'Oakendell Community', 'Vallecito Continuation High', 'Bret Harte Union High', 'Gold Strike High', 'Calaveras Unified Alternative-Sierra Hills Education Center', 'Calaveras High', 'Mokelumne Hill Elementary', 'San Andreas Elementary', 'Valley Springs Elementary', 'West Point Elementary', 'Toyon Middle', 'Jenny Lind Elementary', 'Learners, Empowered Academic Progress (LEAP)', 'Copperopolis Elementary', 'Mark Twain Elementary', 'Hazel Fischer Elementary', 'Albert A. Michelson Elementary', 'Avery Middle', 'Vallecito Independent Study (Alternative)', 'Coastal Buttes Academy', 'S. William Abel Academy', 'Colusa Alternative High (Continuation)', 'Colusa Alternative Home', 'Colusa High', 'James M. Burchfield Primary', 'George T. Egling Middle', 'Maxwell Middle', 'Maxwell Sr High', 'Maxwell Elementary', 'Arbuckle Alternative High (Continuation)', 'Pierce High', 'Arbuckle Elementary', 'Grand Island Elementary', 'Lloyd G. Johnson Junior High', 'Williams Upper Elementary', 'Mid Valley High (Continuation)', 'Williams Junior/Senior High', 'Williams Primary Elementary']

In [10]:
merged_df = pd.merge(df1, df7[['School Name', 'Reporting Category', 'Graduate count']], on=['School Name', 'Reporting Category'], how='left')

In [11]:
merged_df

,Academic Year,District Name,School Name,Reporting Category,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate,Graduate count
0,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,GF,136,76,55.9,33
1,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,GM,137,62,45.3,30
2,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,GR46,29,15,51.7,NaN
3,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,GR78,27,13,48.1,NaN
4,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,GR912,218,110,50.5,NaN
...,...,...,...,...,...,...,...,...
146723,2022-23,Wheatland Union High,Wheatland Union High,SD,172,47,27.3,27
146724,2022-23,Wheatland Union High,Wheatland Union High,SE,38,12,31.6,5
146725,2022-23,Wheatland Union High,Wheatland Union High,SH,44,17,38.6,8
146726,2022-23,Wheatland Union High,Wheatland Union High,SS,881,193,21.9,179
146727,2022-23,Wheatland Union High,Wheatland Union High,TA,1096,221,20.2,221

In [12]:
clean23df = merged_df.dropna(axis=0, how = 'any')

In [13]:
clean23df

,Academic Year,District Name,School Name,Reporting Category,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate,Graduate count
0,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,GF,136,76,55.9,33
1,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,GM,137,62,45.3,30
6,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,RB,101,58,57.4,23
7,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,RH,130,62,47.7,32
8,2022-23,Alameda County Office of Education,Envision Academy for Arts & Technology,RT,15,8,53.3,3
...,...,...,...,...,...,...,...,...
146723,2022-23,Wheatland Union High,Wheatland Union High,SD,172,47,27.3,27
146724,2022-23,Wheatland Union High,Wheatland Union High,SE,38,12,31.6,5
146725,2022-23,Wheatland Union High,Wheatland Union High,SH,44,17,38.6,8
146726,2022-23,Wheatland Union High,Wheatland Union High,SS,881,193,21.9,179
146727,2022-23,Wheatland Union High,Wheatland Union High,TA,1096,221,20.2,221

In [31]:
#Meal Data = Poverty data 2023
df8 = pd.read_excel("frpm2223.xlsx", sheet_name= "FRPM School-Level Data")
#Only want school based data

#df8 = df8.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'], axis = 1)

df8 = df8.rename(columns={"Unduplicated Student Poverty – Free or Reduced Price Meals Data 2022–2023":"Academic Year", "Unnamed: 5":"District Name", "Unnamed: 6":"School Name", "Unnamed: 19":"Percent Eligible Free"})
#df8 = df8.drop([0])
df8.to_csv('mealsData.csv', index = None)

In [33]:
#Take a sample of the clean 2023 data in order to work without siku
sample23df = clean23df.sample(n=500, replace = False, random_state = 42, axis = 0)
sample23df.to_csv('sample23.csv', index = None)

In [37]:
#create a new column in the sample csv and calculate the graduation rate from the total enrollement.

import csv

with open('sample23.csv','r') as csvinput:
    with open('output.csv', 'w') as csvoutput:
        writer = csv.writer(csvoutput, lineterminator='\n')
        reader = csv.reader(csvinput)

        all = []
        row = next(reader)
        row.append('Graduation Rate')
        all.append(row)

        for row in reader:
            row.append(float(row[7])/float(row[4]))
            all.append(row)

        writer.writerows(all)
'''
#inserting the column names
f = open('sample23.csv')
l = csv.reader(f)
row0 = r.next()
row0.append('Graduation Rate')

#creatign graduation rate
for row in l:
    item.append(item[7]/item[4])
'''

"\n#inserting the column names\nf = open('sample23.csv')\nl = csv.reader(f)\nrow0 = r.next()\nrow0.append('Graduation Rate')\n\n#creatign graduation rate\nfor row in l:\n    item.append(item[7]/item[4])\n"

Risk Analysis is used for decision making. This can be done in an automated manner that removes the need to examine each student individually. This can shed light on the variables students can look at to determine how to proceed with their schooling.

Risk Registers are the variable to a risk. In this case Chrontic Abseentee Rates and Poverty are the Risk registers being studying in the context of graduation rates.

Risk management is the plan on how to disuade the negative outcome being avoided. With the use of a risk matrix, students could see the impacts of risk registers on their liklihood of graduating.

Enviroonment Factors is the research 

Organizational process assets are the processes that are already in place. Examples are policies, guidelines or historical records.  In the context of schools, policies on attendance already exist. These could be leveraged to encourge a positive outcome for the student.

Quantitative Risk Analysis uses models such as Monte Carlo simulation and decision tree analysis in order to determine the liklihood of succes and prioritize the risk